.menu__swap_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.menu__swap_button {
  width: MAX(30px, 1.8vh);
  margin-left: -5px;
  transition: opacity 0.2s;
}