.menu__input_field {
  display: block;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
  &:focus-within + .input_error__container{
    display: none;
  }
}

.menu__input_circle_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__input_container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr 0;
  width: 100%;
}

.input_error__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_error__content{
  position: relative;
}

.input_error__text_container{
  position: relative;
}

.input_error__text {
  top:0;
  position: absolute;
  border-radius: 5px;
  color: white;
  background-color: rgba(253, 86, 80, 1);
  padding: 5px 10px;
  font-size: 1.2em;
}

.input_error__arrow {
  position: relative;
  background-color: rgba(253, 86, 80, 1);
  width: 3%;
  padding: MAX(0.7vh, 7.5px);
  margin-right: -1px;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.MuiAutocomplete-paper {
  display: inline;
}

.MuiTextField-root{
  background-color: rgba(229, 229, 227, 0.3);
}

.MuiAutocomplete-listbox {
  background: rgba(192, 192, 192, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
}