.menu__select_button{
  fill:black;
  opacity: 0.3;
  &:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s;
  }
}

.menu__select_button_now{
  opacity: 0.5;
  &:hover{
    opacity: 0.9;
  }
}