.metro_map__container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.metro_map__content {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none !important;
  fill: none;
}

.map_background_layer{
  opacity: 0.5;
}

.map_text {
  font: 1.5em sans-serif;
  fill:black;
  transition: 0.1s;
  &:hover{
    fill:tomato;
  }
}

.hide{
  display: none;
  &.map_station{
    display: block;
    opacity: 0.5;
  }
}

.map_background {
  fill: #6dbfe0;
}

.map_text_left {
  text-anchor: end;
}

.map_road {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 25px;
}

.map_river {
  fill: #fff;
}

.map_river_no_fill {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 40px;
}

.map_blue_road {
  stroke: #29335c;
}

.map_blue_station {
  fill: #0b86bd;
}

.map_red_road {
  stroke: #780116;
}

.map_red_station {
  fill: #ee6352;
}