.metro_map__container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.metro_map__content {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  touch-action: none !important;
  fill: none;
}

.opacity {
  opacity: 0.35;
}

.map_text {
  font: 1.15em sans-serif;
  font-weight: 600;
  fill: black;
  transition: 0.1s;

  &:hover {
    cursor: pointer;
    fill: tomato;
  }
}

.chosen_text {
  font-weight: 800;
}

.hide {
  display: none;

  &.map_station {
    display: block;
    opacity: 0.5;
  }
}

.map_background {
  fill: #6dbfe0;
}

.map_text_left {
  text-anchor: end;
}

.map_road {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 25px;
}

.map_road_not_stroke {
  stroke: none;
}

.map_station{
  cursor: pointer;
  &:hover + .map_text{
    fill: tomato;
  }
}

.map_river {
  fill: #fff;
}

.map_river_no_fill {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 40px;
}

.map_blue_road {
  stroke: #29335c;
  fill: #29335c;
}

.map_blue_station {
  fill: #0b86bd;
}

.map_red_road {
  stroke: #780116;
  fill: #780116;
}

.map_red_station {
  fill: #ee6352;
}

.map_purple_road {
  stroke: #4A02C9;
  fill: #4A02C9;
}

.map_purple_station {
  fill: #7302C9;
}

.map_orange_road {
  stroke: #C96902;
  fill: #C96902;
}

.map_orange_station {
  fill: #FC8C17;
}

.map_green_road {
  stroke: #055718;
  fill: #055718;
}

.map_green_station {
  fill: #038A22;
}